<footer id="footer" class="panel">
    <div class="inner split">
        <div>
            <section>
                <h2>{{ site.title }}</h2>
                <p style="margin-bottom: 5px;">{{ site.description }}</p>
                <p style="margin-bottom: 5px;">- Innovation u. Kreativität</p>
                <p style="margin-bottom: 5px;">- Individualität</p>
                <p style="margin-bottom: 5px;">- Flexibilität</p>
            </section>
        </div>
        <div>
            {%- include social.html -%}
            <p>
                E-Mail: @<a href="mailto:info@moebelmanufaktur-menke.com"><strong>info@moebelmanufaktur-menke.com</strong></a>.
            </p>
            <p>
                Adresse: <strong>Auf dem Sattel 10, 49757 Werlte, DE</strong>
            </p>
        </div>
        <div>
            <section>
                <img src="{{site.baseurl}}/assets/images/un_fulls/UN_Image.jpg" alt="UN_Image"
                     style="max-width: 75%; height: auto;"/>
            </section>
            <!-- Weitere Sektionen... -->
        </div>
    </div>
</footer>
