<footer id="footer" class="panel">
    <div class="inner split">
        <div>
            <section>
                <h2>{{ site.title }}</h2>
                <p>{{ site.description }}</p>
            </section>
            {%- include social.html -%}
            <p class="copyright">
                &copy; <a href="mailto:{{ site.email }}">{{ site.author }}</a>. E-Mail:
                <a><strong>m.l_m@aol.com</strong></a>.
            </p>
        </div>
        <div>
            <section>
                <article class="un_fulls">
                    <a href="{{site.baseurl}}/assets/images/un_fulls/UN_Image.jpg" class="un_fulls">
                        <img src="{{site.baseurl}}/assets/images/un_fulls/UN_Image.jpg" alt="UN_Image"/>
                    </a>
                </article>
            </section>
            <!-- Weitere Sektionen... -->
        </div>
    </div>
</footer>
