<footer id="footer" class="panel">
    <div class="inner split">
        <div>
            <section>
                <h2>{{ site.title }}</h2>
                <p>{{ site.description }}</p>
                 <p style="margin-bottom: 10px;">- Innovation u. Kreativität</p>
                 <p style="margin-bottom: 10px;">- Individualität</p>
                 <p style="margin-bottom: 10px;">- Flexibilität</p> 
            </section>
        </div>
        <div>
            {%- include social.html -%}
            <p class="copyright">
                &copy; <a href="mailto:{{ site.email }}">{{ site.author }}</a>. E-Mail:
                <a><strong>info@moebelmanufaktur-menke.com</strong></a>.
            </p>
        </div>
        <div>
            <section>
                <img src="{{site.baseurl}}/assets/images/un_fulls/UN_Image.jpg" alt="UN_Image" style="max-width: 50%; height: auto;"/>
            </section>
            <!-- Weitere Sektionen... -->
        </div>
    </div>
</footer>
