
      <header id="header" class="panel">
          <div class="inner split">
            <div>
               <section>
                    <h2>{{ site.title }}</h2>
                    <p>{{ site.description }}</p>
               </section>    
               <section>
                     
               </section>      
           </div>    
         </div>
        <h1><a href="index.html"><strong>{{ site.title | escape }}</strong></a></h1>
        <nav>
          <ul>
            <li><a href="#footer" class="icon solid fa-info-circle">Kontakt</a></li>
          </ul>
        </nav>
      </header>
